version: '3.8'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 5005:5000
    environment:
      - TZ=Asia/Jakarta
    depends_on:
      - db
  db:
    image: postgres:11
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=mydatabase
